/* Default code Starts here */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    font-family: "Rajdhani", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
    /* font-family: "Barlow Semi Condensed", sans-serif; */
}

:root {
    --primaryColor: #032c48;
    --secondaryColor: #ef8bae;
    --tertiaryColor: #0b81d1;
    --textDarkColor: #000000;
    --textLightColor: #EFEFEF;
    --lightColor: #FFFFFF;
    --regularFont: 16px;
    --headingFont: 54px;
    --sebHeadingFont: 18px;
    --paragraph: 16px;
    --links-Buttons-Font: 16px;
    --fontFamilyPrimary: "Rajdhani", sans-serif;
    --fontFamilySecondary: "Merienda", cursive;
}

.align {
    max-width: 1200px;
    margin: auto;
    padding: 0 3rem;
}

/* Default code Ends here */

/* Project code start here */

header {
   /* background-color: #d5a1ff;*/
    width: 100%;
    height: auto;
}

.formContainer {
  /*  background-color: #f6c02c;*/
   
    width: 100%;
   /* height: auto;*/
  
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 100px 20px;
}

.loginForm {
   /* background-color: #1ce4bf;*/
    width: 40%;
    height: auto;
}

form {
    /* background-color: #1c4ca6;; */
    width: 100%;
    height: auto;
    }

.formGroup {
  background-color: #f92b73;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 15px;
}

input[type=text] {
    background-color: #ffffff;
    width: auto;
    height: auto;
    padding: 10px ;
}

input[type=number]{
    background-color: #ffffff;
    width: 33%;
    height: auto;
    padding: 10px ;
}

/* Project code ends here */